# First make sure to update pip:
#     $ sudo pip install --upgrade pip
#
# or Windows : python -m pip install --upgrade pip
#
# Then you probably want to work in a virtualenv (optional):
#     $ sudo pip install --upgrade virtualenv
# Or if you prefer you can install virtualenv using your favorite packaging
# system. E.g., in Ubuntu:
#     $ sudo apt-get update && sudo apt-get install virtualenv
# Then:
#     $ cd $my_work_dir
#     $ virtualenv my_env
#     $ . my_env/bin/activate
#
# Activate on Windows : $ python -m virtualenv env
#                       $ .\env\Scripts\activate
#
# Next, optionally uncomment the OpenAI gym lines (see below).
# If you do, make sure to install the dependencies first.
# If you are interested in xgboost for high performance Gradient Boosting, you
# should uncomment the xgboost line (used in the ensemble learning notebook).
#
# Then install these requirements:
#     $ pip install --upgrade -r requirements.txt
# 
# Windows : $ python -m pip install --upgrade -r requirements.txt
#
# Finally, start jupyter:
#     $ jupyter notebook
#

##### Core packages

numpy==1.22.0
scipy==1.4.1
pandas==0.25.3 
matplotlib==3.1.2 
jupyter==1.0.0
Flask==1.1.1

# Make beautiful maps with Leaflet.js & Python
folium==0.10.1 
requests==2.22.0
dash==1.8.0

# Generate profile report for pandas DataFrame
pandas-profiling[notebook,html]==2.4.0

# converts and manipulates various color representation (HSL, RVB, web, X11, ...)
colour==0.1.5
# Generate complex HTML+JS pages with Python
branca==0.3.1 